.contactInfo-container{
    display: flex;
    align-items: flex-start;
    margin: 40px auto;
    max-width: 1200px;
    width: 100%;
    gap:180px;

}
.contactInfo-title{
    color:var(--primary-color);
}
.contactInfo-text{
    color:var(--black-color);
    font-size:50px;
}
.contantInfo-email{
    color:var(--black-color);
}
.contantInfo-number{
    color:var(--black-color);
    
}
.contactInfo-right {
  display: flex;
  gap: 180px;        
  flex: 1;
  max-width: 600px;
}
  .contactInfo-left {
  flex: 1;              
  max-width: 400px; 
      
}