/* miray/UP-4-5-Implement-The-Navbar-Responsive-Start */
header.navbar{
  display: flex;
  align-items: center; 
  background-color: black;
  width: 1191px;
  height: 49px;
  margin: 0 auto;
  margin-top:30px;
}
.logo{
    color: var(--primary-color);
    font-weight: 800;
    margin-right: 50px;
}
.navbar-group {
    display: flex;
    align-items: center;
    gap: 585px; 
}
.menu {
    display: flex;
    gap: 60px;
}
.btn-getstarted{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 6px;
    padding: 8px 16px;
    
}
@media (max-width:768px){
    header.navbar{
       height: auto;
       padding:15px;
    }  
    .navbar-group{
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
    }
    .menu{
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
    }
}
/* miray/UP-4-5-Implement-The-Navbar-Responsive-End */