/* miray/UP-4-5-Implement-The-Navbar-Responsive-Start */
header.navbar{
  display: flex;
  align-items:center;
  background-color: black;
  width: 1191px;
  height: 49px;
  padding:15px 90px;
  }
.logo{
    color: var(--primary-color);
    font-weight: 800;
    font-size:20px;
    margin-right: 50px;
}
.navbar-group {
    position: relative;
    
    display: flex;
    align-items: center;
    gap: 300px; 
}
.menu {
    display: flex;
    gap: 60px;
    font-weight: 800;
}
.btn-getstarted{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 600px;
    margin-top:10px;
}
.btn-getstarted:hover{
    background-color: white;
    color:var(--primary-color);
}
.frame:hover{
    color:var(--primary-color);
}
.hamburger{
    display: none;
}

@media (max-width:768px){
    header.navbar{
       height: auto;
       padding:15px;
    }  
    .navbar-group{
        flex-direction: column;
        align-items: flex-start;
        gap:30px;
    }
    .menu{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
/* miray/UP-4-5-Implement-The-Navbar-Responsive-End */