.faq-section{
     margin: 40px auto;
    max-width: 1200px;
    width: 100%;
}

.faq-container{
    margin-top:30px;
    color:var(--black-color);
    text-align: center;
}
.faq-title{
    margin-top:107px;
    color:var(--primary-color);
    text-align: center;
    font-family: var(--primary-color);
    font-size:18px;
    
}
.faq-text{
    margin-top:20px;
    font-family: var(--secondary-font);
    font-size:32px;
}
.question{
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-family: var(--primary-color);
    font-size:20px;
    padding: 22px 30px 22px 30px;
}
.question summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq-question{
    margin-top:38px;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}
.back-icon{
    width: 12px;
    height: 20px;
    
}
.question div{
    text-align: left;
    font-size:16px;
    margin-top:30px;
    
}